{% extends 'base.html' %}

{% block title %}
Регистрация и вход
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.low.css')}}" media="screen and (max-width: 1024px)">
{% endblock %}

{% block main %}
<h1>Регистрация и вход</h1>
<form method="post">
    <input type="text" name="email" autocomplete="email" placeholder="Электронная почта">
    <input type="text" name="name" autocomplete="name" placeholder="Имя">
    <input type="submit" class="btn">
    <a href="/lb" class="btn">Лидерборды</a>
</form>
{% endblock %}