@charset "UTF-8";

input {
  margin: 1rem 0;
}

input[type="submit"], a.btn {
  cursor: pointer;
  width: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}

input[type="submit"] {
  background-color: #093;
}

input[type="submit"]:hover {
  background-color: #082;
}

input[type="text"], input[type="password"] {
  border-radius: 15px;
  padding: .25rem 1rem;
  border: none;
  display: block;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

main {
  padding: 0 25vw;
}